body{
    background-color: aliceblue;
    background-image: url("../img/descarga.jfif");
    background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: white;
}
.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicio h1{
    font-size: 100px;
    font-family: "Arial";
    font-weight: 700;
}
.inicio img{
    border-radius: 100%;
    border: 5px solid white;
}    
h1{ color: red;
    }
    h2{ color: red;
    }
h3{ color: red;
}
h5{ color: red;
}

.primer-parrafo{color: white;
font-size: 50px;
font-family: "Arial";
font-weight: 300;}

.segundo-parrafo{color: white;
    font-size: 40px;
    font-family: "cursive";
    font-weight: 500;
}

.galeria{
    display:flex;
    border: 2px solid white;
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom, #0f0066 0%, #ce0a0a 100%) 1;
    overflow-x: scroll;
}

 .galeria img{width: 350px;
height: 350px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:red;
    color: black;
}

nav ul{display: flex;
justify-content: space-around;
align-items: center;
list-style: none;}

nav ul li{
    margin: 0 10px;
}